  
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Hello</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese" rel="stylesheet">
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>

	<div class="login-container">
	
		<header class="login__header">
			
			<h2>LOGIN SUCCESS!!</h2>
			
		</header>
		
		<article class="login__form">
		
			<h1>Hello!</h1>
			
			<h1>USER!!</h1>
			
		</article>
		
	</div>
	
</body>
</html>