  
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese" rel="stylesheet">
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>

	<div class="login-container">
	
		<header class="login__header">
			
			<h2>Login UT</h2>
			<h2 class="login__header__link-text">
				<a href="signup.html">Sign Up</a>
			</h2>
			
		</header>
		
		<article class="login__form">
		
			<form action="#" method="post">
				
				<label for="userName" class="login-input login__form__item">
					<input type="text" placeholder="&nbsp;" id="userName">
					<span class="login-input__placeholder">Username</span>
					<span class="login-input__border"></span>
					<span class="login-input__error-message">error userName</span>
				</label>
				
				<label for="password" class="login-input login__form__item">
					<input type="password" placeholder="&nbsp;" id="password">
					<span class="login-input__placeholder">Password</span>
					<span class="login-input__border"></span>
					<span class="login-input__error-message">error password</span>
				</label>
				
				<br>

				<input type="submit" 
					value="LOGIN" class="login-button login__form__item--button">

			</form>
			
		</article>
		
	</div>
	
</body>
</html>